@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  @apply bg-white dark:bg-gray-950;

  @media (prefers-color-scheme: dark) {
    color-scheme: dark;
  }

  display: flex;
  flex-direction: column;
  min-height: 100vh;
  border: 1px solid red;
}
