.horizontal-scroll {
  display: flex;
  overflow-x: auto;
  white-space: nowrap;
  padding: 10px;
  gap: 16px;
}

.pipeline-status {
  width: 350px;
  flex: 0 0 350px;
  background-color: #f8f9fa;
  border: 1px solid #dee2e6;
  border-radius: 8px;
  padding: 10px;
}

.pipeline-status-title {
  color: #4b0082;
  font-weight: bold;
  border-bottom: 2px solid #20c997;
  padding-bottom: 8px;
  margin-bottom: 16px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 1.2rem;
}
